<a href="https://colab.research.google.com/github/doyeonKoo/esaa/blob/main/grouping%EF%BC%BFoccupation%EF%BC%BFExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [16]:
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",
                    sep='|')
users = pd.DataFrame(users)
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [29]:
occupation = users.groupby('occupation')
occupation['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [31]:
occupation['gender'=='M']

KeyError: 'Column not found: False'

### Step 6. For each occupation, calculate the minimum and maximum ages

In [37]:
print('직업별 최소나이:\n',occupation.min('age'), '직업별 최대나이:\n:', occupation.max('age'))

직업별 최소나이:
                user_id  age
occupation
administrator        7   21
artist              23   19
doctor             138   28
educator            13   23
engineer            25   22
entertainment       16   15
executive            6   22
healthcare          60   22
homemaker           20   20
lawyer              10   21
librarian           19   23
marketing           46   24
none                57   11
other                2   13
programmer          17   20
retired            106   51
salesman           112   18
scientist           14   23
student              9    7
technician           1   21
writer               3   18 직업별 최대나이:
:                user_id  age
occupation
administrator      940   70
artist             920   48
doctor             935   64
educator           937   63
engineer           934   70
entertainment      926   50
executive          901   69
healthcare         910   62
homemaker          898   50
lawyer             846   53
librarian          942   69
marketing          881   55
none               756   55
other              936   64
programmer         927   63
retired            900   73
salesman           925   66
scientist          930   55
student            943   42
technician         938   55
writer             911   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [44]:
occ_gen = users.groupby(by=['occupation', 'gender'])
occ_gen.head()
occ_gen.mean('age')

                         user_id        age
occupation    gender
administrator F       443.944444  40.638889
              M       420.069767  37.162791
artist        F       432.153846  30.307692
              M       469.000000  32.333333
doctor        M       533.714286  43.571429
educator      F       454.730769  39.115385
              M       471.492754  43.101449
engineer      F       806.500000  29.500000
              M       445.553846  36.600000
entertainment F       780.000000  31.000000
              M       350.250000  29.000000
executive     F       373.000000  44.000000
              M       427.413793  38.172414
healthcare    F       568.454545  39.818182
              M       354.000000  45.400000
homemaker     F       367.166667  34.166667
              M       898.000000  23.000000
lawyer        F       285.000000  39.500000
              M       373.900000  36.200000
librarian     F       449.137931  40.000000
              M       535.954545  40.000000
marketing     F       443.300000  37.200000
              M       434.375000  37.875000
none          F       521.750000  36.500000
              M       246.200000  18.600000
other         F       474.666667  35.472222
              M       578.246377  34.028986
programmer    F       411.166667  32.166667
              M       437.966667  33.216667
retired       F       860.000000  70.000000
              M       489.230769  62.538462
salesman      F       637.666667  27.000000
              M       447.333333  38.555556
scientist     F       611.666667  28.333333
              M       449.428571  36.321429
student       F       497.533333  20.750000
              M       479.404412  22.669118
technician    F       938.000000  38.000000
              M       480.692308  32.961538
writer        F       536.052632  37.631579
              M       466.230769  35.346154

### Step 8.  For each occupation present the percentage of women and men

In [51]:
occ_gen = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})

total = users.groupby(['occupation']).count()

occ_gen = gender_count.div(total, level = "occupation")
occ_gen.loc[:, 'gender']

occupation     gender
administrator  F         0.455696
               M         0.544304
artist         F         0.464286
               M         0.535714
doctor         M         1.000000
educator       F         0.273684
               M         0.726316
engineer       F         0.029851
               M         0.970149
entertainment  F         0.111111
               M         0.888889
executive      F         0.093750
               M         0.906250
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         F         0.166667
               M         0.833333
librarian      F         0.568627
               M         0.431373
marketing      F         0.384615
               M         0.615385
none           F         0.444444
               M         0.555556
other          F         0.342857
               M         0.657143
programmer     F         0.090909
               M         0.909091
retired        F         0.071429
               M         0.928571
salesman       F         0.250000
               M         0.750000
scientist      F         0.096774
               M         0.903226
student        F         0.306122
               M         0.693878
technician     F         0.037037
               M         0.962963
writer         F         0.422222
               M         0.577778
Name: gender, dtype: float64